{% extends 'main/222.html' %}

{% block title %}UK{% endblock %}

{% block content %}
 <div class="features">
   <h1>ABOUT</h1>
   <p>Проект был выполнен 5 студентами: Маннапова Миляшка  (04.3-001), Сальникова Ирина (04.3-001), Абдуллина Айгуль (04.3-002)Равилова Каилла (04.3-002)Шиманович Ольга (04.3-002)</p>
       <p>Рцководительот от кафедры КФУ: Шелестова Ольга Владимировна, Куратор от "Технократии": Альмухаметовна Альбина</p><br>
   <button class="btn btn-danger">Put</button>
   </div>
{% endblock %}
