{% extends 'main/222.html' %}

{% block title %}UK{% endblock %}

{% block content %}
 <div class="features">
   <h1>ABOUT</h1>
   <p>Проект был выполнен 5 студентами: Маннапова Миляуша  (04.3-001), Сальникова Ирина (04.3-001), Абдуллина Айгуль (04.3-002), Равилова Камилла (04.3-002), Шиманович Ольга (04.3-002)</p>
       <p>Руководитель от кафедры КФУ: Шелестова Ольга Владимировна, куратор от "Технократии": Альмухаметовна Альбина</p><br>
  <a href="{% url 'news_home' %}"> <button class="btn btn-danger">На следующую страницу</button></a>
   </div>
{% endblock %}
